/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

@font-face { font-family: Titillium-regular; src: url("../font/TitilliumText22L003.otf"); }
@font-face { font-family: Titillium-medium; src: url("../font/TitilliumText22L004.otf"); }

body {
    background-attachment:fixed;
    font-family:Titillium-medium !important;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* GENERICS ------------------------------------------- */
.width100 { width:100%; }
.fleft { float:left; }
.fright { float:right; }
.ma { margin:auto; }
.tac { text-align:center; }

.color-brown-title { color:#8C5227; }
.size20 { font-size:30px; text-shadow:0px 2px rgba(0,0,0,.1); }
/* ---------------------------------------------------- */

/* SWIPE ---------------------------------------------- */
.swipe { overflow: hidden; visibility: hidden; position: relative; }
.swipe-wrap { overflow: hidden; position: relative; }
.swipe-wrap > div { float:left; width:100%; position: relative; }
#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
/* ---------------------------------------------------- */

/* HEADER --------------------------------------------- */
.header-container-logo { margin:auto; max-width:226px; padding:25px 0 0 45px; }
/* ---------------------------------------------------- */

/* HOME ----------------------------------------------- */
.title-recette-mois { padding:20px; }
/* ---------------------------------------------------- */